.blog {
  // GENERAL STYLES FOR BLOG PAGE ************
  // Background colours
  background-color: var(--iceBlue);

  // font colours
  h3,
  h4 {
    color: var(--twilightBlue);
  }

  //   ************ End of general styles for blog **************

  // ********
  // header
  // ********
  header {
    background-image: url("../assets/blog-header.jpg");

    .wrapper {
      display: flex;
      height: 100%;
      flex-direction: column;
    }

    // title styles
    .title {
      //   margin: 20px;
      color: white;
      display: flex;
      flex-direction: column;

      @include bp3 {
        align-items: flex-end;
      }
    }
  }

  //***********
  // Left side
  //***********
  .leftSection {
    height: max-content;
    flex-basis: 30%;
    margin-right: 100px;

    .leftImage {
      margin-top: 50px;
      // this positions it outside of the wrapper
      margin-left: -120px;
    }
    .leftText {
      background-color: var(--twilightBlue);
      padding: 20px;

      color: white;
    }
    h4 {
      padding-top: 30px;
      text-align: center;

      color: var(--dandelion);
    }
    ul {
      list-style-type: disc;
      list-style-position: inside;
    }
    li {
      font-weight: 400;
      text-align: left;
    }
  }

  //*********
  // Right side layout
  //*********

  //top image
  .mainContainer {
    display: flex;
    // flex-direction: row-reverse;

    .rightSide {
      display: flex;
      flex-direction: column;
      flex-basis: 70%;
      margin-left: 60px;
    }
    .rightImage {
      //   this positions the image outside of the wrapper
      margin-top: -130px;
      margin-right: -120px;
      overflow: hidden;

      // This adds the yellow box shadow
      box-shadow: -20px 20px 0 var(--dandelion);
    }
  }

  //***********************
  // Blog & comments section
  // ***********************
  .blogPost {
    margin-top: 60px;
    border-left: 3px solid var(--dandelion);
    border-bottom: 3px solid var(--dandelion);

    padding: 40px;
    text-align: left;

    h2 {
      padding-bottom: 30px;
      color: var(--twilightBlue);
    }

    p {
      padding-bottom: 20px;
    }
  }

  h3 {
    margin-top: 40px;
  }
  .commentContainer {
    display: flex;
    flex-direction: column;
    h4 {
      margin-bottom: 10px;
      // this is to fix spacing issues with the header and images and allows them to line up
      line-height: 1;
    }
    .comment {
      display: flex;
      align-items: flex-start;
      margin-top: 40px;

      img {
        max-width: initial;
        margin-right: 40px;
      }
      .commentText {
        padding-bottom: 40px;
      }
    }
  }
  //*************
  //Comment form
  //*************
  .commentForm {
    display: flex;
    flex-wrap: wrap;
  }

  .name {
    margin-right: 30px;
    flex-basis: calc(50% - 30px);
  }

  .email {
    flex-basis: 50%;
  }
  .name,
  .email {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--dandelion);
    padding: 20px;
  }

  textarea.comment {
    border: 2px solid var(--dandelion);
    background-color: transparent;
    border-radius: 4px;

    padding: 20px;
    margin: 40px auto;
    flex-basis: 100%;
  }

  input[type="submit"] {
    background-color: var(--twilightBlue);
    color: var(--dandelion);
    text-align: center;

    width: 100%;
    margin-bottom: 75px;
    padding: 5px 10px;

    border: none;
  }
}
