// *************
// Header styles
// **************
header {
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;

  @include bp3 {
    height: 400px;
  }
}
// Nav bar styles

nav {
  display: flex;
  justify-content: flex-start;

  .hamburger {
    display: none;

    @include bp3 {
      margin-top: 30px;
      font-size: 40px;
      display: block;
      color: white;
    }
  }

  ul {
    display: flex;
    width: 600px;
    justify-content: space-between;
    padding: 50px 50px 50px 0;

    @include bp3 {
      display: none;
    }

    a {
      border-bottom: 3px transparent solid;
      padding-bottom: 5px;
      display: inline-block;
      color: white;

      &:hover {
        // this makes a yellow line appear under hovered nav bar selection
        border-bottom: 3px solid var(--dandelion);
      }
    }
  }
}
