.home {
  // GENERAL STYLES FOR HOME ***********
  //BACKGROUND COLOURS

  .section1,
  .section3 {
    background-color: var(--iceBlue);
  }

  .section2,
  .section4 {
    background-color: var(--twilightBlue);
  }

  footer {
    background-color: var(--dandelion);
  }

  // PAGE LAYOUT
  .wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    // border: 2px solid tomato;
  }

  main p {
    padding-bottom: 20px;
  }

  img {
    max-width: 100%;
  }

  // Buttons
  main a {
    background-color: var(--dandelion);
    padding: 5px 10px;
    color: var(--twilightBlue);
  }

  // *********** END GENERAL STYLES FOR HOME ***********

  //*****************
  // HEADER STYLES
  // ****************
  header {
    background-image: url("../assets/home-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;

    // Header layout
    .wrapper {
      display: flex;
      height: 100%;
      justify-content: space-between;
      flex-direction: column;
    }
    // Header typography
    a {
      color: white;
    }
    // this makes a yellow line appear under hovered nav bar selection
    li {
      border-bottom: 3px transparent solid;

      &:hover {
        border-bottom: 3px solid var(--dandelion);
      }
    }
  }

  nav {
    display: flex;
    justify-content: flex-start;
  }

  ul {
    display: flex;
    width: 600px;
    justify-content: space-between;
    padding: 50px;
  }

  h1 {
    margin: 20px;
    color: var(--dandelion);
  }

  .headerBottom {
    display: flex;
    // this puts the h1 at the bottom Y axis
    align-items: flex-end;
  }
  .headerBottom .image {
    position: relative;
    width: 100%;
    img {
      position: absolute;
      bottom: -100px;
      right: -21%;
      overflow: hidden;
    }
  }

  //**************
  // SECTION 1
  // *************

  .section1 {
    // Section1 General styling
    h2 {
      color: var(--twilightBlue);
    }
    i {
      background-color: var(--dandelion);
      border-radius: 50%;
      padding: 10px;
      color: var(--twilightBlue);
      font-size: 30px;
      width: 45px;
      height: 45px;
    }
    .info {
      display: flex;
      align-content: space-between;
      flex: 1;
    }
  }
  // Section 1 top
  .section1Top {
    padding-top: 200px;
  }

  //section 1 bottom
  .section1Bottom {
    padding: 50px 0;
  }

  // Top & bottom styles
  .section1Top,
  .section1Bottom {
    flex-wrap: wrap;
    display: flex;
  }
  .section1Text {
    padding-left: 10px;
    margin: 3px 0;
  }

  // ************
  // SECTION 2
  // *************

  // section 2 general layout & typography
  .section2 {
    h3,
    p {
      color: white;
    }
  }

  // Top and bottom layout
  .section2Top {
    display: flex;
    .info {
      padding: 100px 50px;
      text-align: left;
      flex-basis: 50%;
    }
  }
  .section2Bottom {
    display: flex;
    .info {
      padding: 100px 50px;
      text-align: right;
      flex-basis: 50%;
    }
  }
  // image properties
  .s2Image1 {
    flex-basis: 50%;
    position: relative;
    height: max-content;
    img {
      // This positions the top image to be outside of the container
      position: absolute;
      top: -30px;
      left: -115px;
      // This adds the yellow shadow
      box-shadow: 20px 20px 0 var(--dandelion);
    }
  }
  .s2Image2 {
    flex-basis: 50%;
    position: relative;
    img {
      // This positions the bottom image to be outside of the container
      position: absolute;
      bottom: -30px;
      right: -110px;
      // This adds the yellow shadow
      box-shadow: -20px -20px 0 var(--dandelion);
    }
  }
  //************
  // SECTION 3
  //************

  // Section 3 Part 1
  // *****************
  .section3 {
    h3 {
      color: var(--twilightBlue);
    }
    .section3pt1 {
      text-align: center;
      padding: 50px;
    }
  }
  // section 3 part 2 banner
  // ***********************
  .section3pt2 {
    overflow: hidden;
  }
}

//Section 3 part 3
// ****************
.section3pt3 {
  display: flex;
  justify-content: space-around;
  padding: 100px 0;
  flex-wrap: wrap;
  .info {
    width: 66%;
  }
}

// This makes the yellow box appear behind the image
.s3Image {
  height: max-content;
  box-shadow: -20px 20px 0 var(--dandelion);
}

// ***********
// Section 4
// ***********

.gallery {
  display: flex;
  padding: 100px 0;
  justify-content: space-between;
  flex-wrap: wrap;
  img {
    width: 350px;
    height: 350px;
  }
}

// ***********
// Footer
// ***********

footer {
  text-align: center;
}
