.home {
  // GENERAL STYLES FOR HOME ***********
  //BACKGROUND COLOURS

  .section1,
  .section3 {
    background-color: var(--iceBlue);
  }

  .section2,
  .section4 {
    background-color: var(--twilightBlue);
  }

  // general rules
  main p {
    padding-bottom: 20px;
  }

  // Buttons
  main a {
    background-color: var(--dandelion);
    padding: 5px 10px;
    color: var(--twilightBlue);
    display: inline-block;
  }

  // *********** END GENERAL STYLES FOR HOME ***********

  //*****************
  // HEADER STYLES
  // ****************
  header {
    background-image: url("../assets/home-header.jpg");
    position: relative;

    @include bp3 {
      height: 400px;
    }

    // Header layout
    .flexing {
      justify-content: space-between;
    }

    h1 {
      width: 50%;
      margin: 20px;
      color: var(--dandelion);

      @include bp1 {
        font-size: 60px;
      }

      @include bp2 {
        text-align: left;
        font-size: 50px;
        width: 80%;
      }

      @include bp3 {
        font-size: 35px;
        line-height: 1.5;
      }
    }

    // Making the big boat fit on the page >:(
    .image {
      height: max-content;

      position: absolute;
      right: 0;
      left: 50%;
      top: 200px;

      @include bp1 {
        top: unset;
        bottom: -40px;
      }
      @include bp2 {
        display: none;
      }
    }
  }

  // .headerBottom {
  //   display: flex;
  // }
  //**************
  // SECTION 1
  // *************

  .section1 {
    // Section1 General styling
    h2 {
      color: var(--twilightBlue);

      @include bp3 {
        font-size: 30px;
      }
    }
    i {
      background-color: var(--dandelion);
      border-radius: 50%;
      padding: 10px;
      color: var(--twilightBlue);
      font-size: 30px;
      width: 45px;
      height: 45px;
    }
    .info {
      display: flex;
      align-content: space-between;
      flex: 1;
    }
  }
  // Section 1 top
  .section1Top {
    padding-top: 200px;

    @include bp1 {
      padding-top: 50px;
    }
  }

  //section 1 bottom
  .section1Bottom {
    padding: 50px 0;

    @include bp3 {
      padding-top: 0;
    }
  }

  // Top & bottom styles
  .section1Top,
  .section1Bottom {
    display: flex;

    @include bp2 {
      flex-direction: column;
    }
  }
  .section1Text {
    padding-left: 10px;
    margin: 3px 0;

    @include bp3 {
      font-size: 18px;
    }
  }

  // ************
  // SECTION 2
  // *************

  // section 2 general layout & typography
  .section2 {
    h3 {
      color: white;

      @include bp3 {
        font-size: 25px;
      }
    }
    p {
      color: white;

      @include bp3 {
        font-size: 18px;
      }
    }
  }

  // Top and bottom layout
  .section2Top {
    display: flex;

    .info {
      padding: 100px 50px;
      text-align: left;
      flex-basis: 50%;
    }
    @include bp1 {
      flex-direction: column;

      .info {
        padding: 50px;
      }
    }
  }
  .section2Bottom {
    display: flex;

    .info {
      padding: 100px 50px;
      text-align: right;
      flex-basis: 50%;
    }

    @include bp1 {
      flex-direction: column-reverse;
      .info {
        padding: 50px;
      }
    }
  }
  // image properties
  .s2Image1 {
    flex-basis: 50%;
    position: relative;
    height: max-content;
    img {
      // This positions the top image to be outside of the container
      position: absolute;
      top: -30px;
      left: -115px;
      // This adds the yellow shadow
      box-shadow: 20px 20px 0 var(--dandelion);

      @include bp1 {
        position: unset;
        box-shadow: none;
        width: 100%;
      }
    }
  }
  .s2Image2 {
    flex-basis: 50%;
    position: relative;
    img {
      // This positions the bottom image to be outside of the container
      position: absolute;
      bottom: -30px;
      right: -110px;
      // This adds the yellow shadow
      box-shadow: -20px -20px 0 var(--dandelion);

      @include bp1 {
        position: unset;
        box-shadow: none;
        width: 100%;
      }
    }
  }
  //************
  // SECTION 3
  //************

  // Section 3 Part 1
  // *****************
  .section3 {
    h3 {
      color: var(--twilightBlue);

      @include bp3 {
        font-size: 25px;
      }
    }
    .section3pt1 {
      text-align: center;
      padding: 50px;

      @include bp3 {
        font-size: 18px;
      }
    }
  }
  // section 3 part 2 banner
  // ***********************
  .section3pt2 {
    overflow: hidden;
  }

  //Section 3 part 3
  // ****************
  .section3pt3 {
    display: flex;
    justify-content: space-around;
    padding: 100px 0;
    flex-wrap: wrap;
    .info {
      width: 66%;

      @include bp1 {
        width: 100%;
      }
    }
    @include bp1 {
      flex-direction: column;
    }

    @include bp3 {
      font-size: 18px;
    }
  }

  // This makes the yellow box appear behind the image
  .s3Image {
    height: max-content;
    box-shadow: -20px 20px 0 var(--dandelion);
    @include bp1 {
      box-shadow: none;
      margin-bottom: 20px;
    }
  }

  // ***********
  // Section 4
  // ***********

  .gallery {
    display: flex;
    padding: 100px 0;
    justify-content: space-between;

    img {
      width: 33%;
    }

    // @include bp1 {
    //   flex-direction: column;
    //   width: 100%;
    // }
  }
}
