a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
html,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

:root {
  --iceBlue: #eafefc;
  --dandelion: #fdd908;
  --twilightBlue: #0d457f;
}

html {
  font-size: 125%;
}

h1,
h2,
h3,
h4,
a {
  font-family: "IM Fell English", serif;
  font-style: italic;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}

h1 {
  font-size: 79px;
  line-height: 100px;
}

h2 {
  font-size: 45px;
  line-height: 100%;
}

h3 {
  font-size: 40px;
  line-height: 58px;
  letter-spacing: 1.3px;
}

h4 {
  font-size: 25px;
  line-height: 58px;
  letter-spacing: 0.8px;
}

a {
  font-size: 22.4px;
  text-align: center;
  line-height: 41.6px;
  text-decoration: none;
}

body,
li a {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-style: normal;
}

li {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  line-height: 29px;
  letter-spacing: 1px;
}

body {
  font-size: 20px;
  line-height: 28px;
}

.home .section1,
.home .section3 {
  background-color: var(--iceBlue);
}

.home .section2,
.home .section4 {
  background-color: var(--twilightBlue);
}

.home footer {
  background-color: var(--dandelion);
}

.home .wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.home main p {
  padding-bottom: 20px;
}

.home img {
  max-width: 100%;
}

.home main a {
  background-color: var(--dandelion);
  padding: 5px 10px;
  color: var(--twilightBlue);
}

.home header {
  background-image: url("../assets/home-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.home header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home header a {
  color: white;
}

.home header li {
  border-bottom: 3px transparent solid;
}

.home header li:hover {
  border-bottom: 3px solid var(--dandelion);
}

.home nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.home ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 600px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px;
}

.home h1 {
  margin: 20px;
  color: var(--dandelion);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.home .headerBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.home .headerBottom .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.home .headerBottom img {
  margin-right: -122px;
  margin-bottom: -230px;
}

.home .section1 h2 {
  color: var(--twilightBlue);
}

.home .section1 i {
  background-color: var(--dandelion);
  border-radius: 50%;
  padding: 10px;
  color: var(--twilightBlue);
  font-size: 30px;
  width: 45px;
  height: 45px;
}

.home .section1 .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.home .section1Top {
  padding-top: 200px;
}

.home .section1Bottom {
  padding: 50px 0;
}

.home .section1Top,
.home .section1Bottom {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .section1Text {
  padding-left: 10px;
  margin: 3px 0;
}

.home .section2 h3,
.home .section2 p {
  color: white;
}

.home .section2Top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .section2Top .info {
  padding: 100px 50px;
  text-align: left;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.home .section2Bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .section2Bottom .info {
  padding: 100px 50px;
  text-align: right;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.home .section2 {
  position: relative;
  z-index: 1;
}

.home .section2 .section2Top {
  position: relative;
  z-index: 1;
}

.home .section2 .s2Image1 {
  position: relative;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.home .section2 .s2Image1::before {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--dandelion);
  display: block;
  position: absolute;
  right: -20px;
  bottom: -20px;
  z-index: -1;
}

.home .section2 .s2Image2 {
  position: relative;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.home .section2 .s2Image2::before {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--dandelion);
  display: block;
  position: absolute;
  right: -20px;
  bottom: -20px;
  z-index: -1;
}

.home .s2Image1 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  position: relative;
  margin-top: -20px;
  margin-left: -129px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.home .s2Image2 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  position: relative;
}

.home .s2Image2 img {
  position: absolute;
  bottom: -20px;
  right: -120px;
}

.home .section3 h3 {
  color: var(--twilightBlue);
}

.home .section3 .section3pt1 {
  text-align: center;
  padding: 50px;
}

.home .section3pt2 {
  overflow: hidden;
}

.section3pt3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 100px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section3pt3 .info {
  width: 66%;
}

.section3pt3 {
  position: relative;
  z-index: 1;
}

.section3pt3 .s3Image {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: relative;
}

.section3pt3 .s3Image::before {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--dandelion);
  display: block;
  position: absolute;
  left: -7px;
  bottom: -7px;
  z-index: -1;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery img {
  width: 350px;
  height: 350px;
}

footer {
  text-align: center;
}
