a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
html,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

:root {
  --iceBlue: #eafefc;
  --dandelion: #fdd908;
  --twilightBlue: #0d457f;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

html {
  font-size: 125%;
}

h1,
h2,
h3,
h4,
a,
input[type="submit"] {
  font-family: "IM Fell English", serif;
  font-style: italic;
}

h1,
h2,
h3,
h4,
input[type="submit"] {
  text-transform: uppercase;
}

h1 {
  font-size: 79px;
  line-height: 100px;
}

h2 {
  font-size: 45px;
  line-height: 100%;
}

h3 {
  font-size: 40px;
  line-height: 58px;
  letter-spacing: 1.3px;
}

h4 {
  font-size: 25px;
  line-height: 58px;
  letter-spacing: 0.8px;
}

a,
input[type="submit"] {
  font-size: 22.4px;
  text-align: center;
  line-height: 41.6px;
  text-decoration: none;
}

body,
li a,
textarea {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-style: normal;
}

li {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  line-height: 29px;
  letter-spacing: 1px;
}

body {
  font-size: 20px;
  line-height: 28px;
}

header {
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

header .flexing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 600px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 50px 50px 0;
}

nav ul a {
  border-bottom: 3px transparent solid;
  padding-bottom: 5px;
  display: inline-block;
  color: white;
}

nav ul a:hover {
  border-bottom: 3px solid var(--dandelion);
}

footer p {
  text-align: center;
  padding: 10px 0;
  background-color: var(--dandelion);
}

.home .section1,
.home .section3 {
  background-color: var(--iceBlue);
}

.home .section2,
.home .section4 {
  background-color: var(--twilightBlue);
}

.home main p {
  padding-bottom: 20px;
}

.home main a {
  background-color: var(--dandelion);
  padding: 5px 10px;
  color: var(--twilightBlue);
  display: inline-block;
}

.home header {
  background-image: url("../assets/home-header.jpg");
}

.home header .flexing {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.home header h1 {
  margin: 20px;
  color: var(--dandelion);
}

.home .headerBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.home .headerBottom .image {
  position: relative;
  width: 100%;
}

.home .headerBottom .image img {
  position: absolute;
  bottom: -100px;
  right: -21%;
  overflow: hidden;
}

.home .section1 h2 {
  color: var(--twilightBlue);
}

.home .section1 i {
  background-color: var(--dandelion);
  border-radius: 50%;
  padding: 10px;
  color: var(--twilightBlue);
  font-size: 30px;
  width: 45px;
  height: 45px;
}

.home .section1 .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.home .section1Top {
  padding-top: 200px;
}

.home .section1Bottom {
  padding: 50px 0;
}

.home .section1Top,
.home .section1Bottom {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .section1Text {
  padding-left: 10px;
  margin: 3px 0;
}

.home .section2 h3,
.home .section2 p {
  color: white;
}

.home .section2Top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .section2Top .info {
  padding: 100px 50px;
  text-align: left;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.home .section2Bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .section2Bottom .info {
  padding: 100px 50px;
  text-align: right;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.home .s2Image1 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  position: relative;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.home .s2Image1 img {
  position: absolute;
  top: -30px;
  left: -115px;
  -webkit-box-shadow: 20px 20px 0 var(--dandelion);
          box-shadow: 20px 20px 0 var(--dandelion);
}

.home .s2Image2 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  position: relative;
}

.home .s2Image2 img {
  position: absolute;
  bottom: -30px;
  right: -110px;
  -webkit-box-shadow: -20px -20px 0 var(--dandelion);
          box-shadow: -20px -20px 0 var(--dandelion);
}

.home .section3 h3 {
  color: var(--twilightBlue);
}

.home .section3 .section3pt1 {
  text-align: center;
  padding: 50px;
}

.home .section3pt2 {
  overflow: hidden;
}

.home .section3pt3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 100px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home .section3pt3 .info {
  width: 66%;
}

.home .s3Image {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-box-shadow: -20px 20px 0 var(--dandelion);
          box-shadow: -20px 20px 0 var(--dandelion);
}

.home .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home .gallery img {
  width: 350px;
  height: 350px;
}

.blog {
  background-color: var(--iceBlue);
}

.blog h3,
.blog h4 {
  color: var(--twilightBlue);
}

.blog header {
  background-image: url("../assets/blog-header.jpg");
}

.blog header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog header .title {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.blog .leftSection {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin-right: 100px;
}

.blog .leftSection .leftImage {
  margin-top: 50px;
  margin-left: -120px;
}

.blog .leftSection .leftText {
  background-color: var(--twilightBlue);
  padding: 20px;
  color: white;
}

.blog .leftSection h4 {
  padding-top: 30px;
  text-align: center;
  color: var(--dandelion);
}

.blog .leftSection ul {
  list-style-type: disc;
  list-style-position: inside;
}

.blog .leftSection li {
  font-weight: 400;
  text-align: left;
}

.blog .mainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog .mainContainer .rightSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  margin-left: 60px;
}

.blog .mainContainer .rightImage {
  margin-top: -130px;
  margin-right: -120px;
  overflow: hidden;
  -webkit-box-shadow: -20px 20px 0 var(--dandelion);
          box-shadow: -20px 20px 0 var(--dandelion);
}

.blog .blogPost {
  margin-top: 60px;
  border-left: 3px solid var(--dandelion);
  border-bottom: 3px solid var(--dandelion);
  padding: 40px;
  text-align: left;
}

.blog .blogPost h2 {
  padding-bottom: 30px;
  color: var(--twilightBlue);
}

.blog .blogPost p {
  padding-bottom: 20px;
}

.blog h3 {
  margin-top: 40px;
}

.blog .commentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog .commentContainer h4 {
  margin-bottom: 10px;
  line-height: 1;
}

.blog .commentContainer .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 40px;
}

.blog .commentContainer .comment img {
  max-width: initial;
  margin-right: 40px;
}

.blog .commentContainer .comment .commentText {
  padding-bottom: 40px;
}

.blog .commentForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blog .name {
  margin-right: 30px;
  -ms-flex-preferred-size: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
}

.blog .email {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.blog .name,
.blog .email {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--dandelion);
  padding: 20px;
}

.blog textarea.comment {
  border: 2px solid var(--dandelion);
  background-color: transparent;
  border-radius: 4px;
  padding: 20px;
  margin: 40px auto;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.blog input[type="submit"] {
  background-color: var(--twilightBlue);
  color: var(--dandelion);
  text-align: center;
  width: 100%;
  margin-bottom: 75px;
  padding: 5px 10px;
  border: none;
}

.contact {
  background-color: var(--iceBlue);
}

.contact main a {
  background-color: var(--dandelion);
  padding: 5px 10px;
  color: var(--twilightBlue);
}

.contact header {
  background-image: url(../assets/contact-header.jpg);
  height: 500px;
}

.contact header h1 {
  color: white;
}

.contact .mainContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .leftSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .leftSection .iconContainer {
  margin-bottom: 30px;
}

.contact .leftSection .iconContainer i {
  padding: 10px 5% 10px 0;
  font-size: 25px;
  color: var(--twilightBlue);
}

.contact .leftSection .iconContainer .sr-Only:not(:focus):not(:active) {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  /* added line */
}

.contact .rightSection {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.contact .commentForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: var(--twilightBlue);
  padding: 30px;
  margin-top: -100px;
  margin-bottom: 100px;
  -webkit-box-shadow: 20px 20px 0 var(--dandelion);
          box-shadow: 20px 20px 0 var(--dandelion);
}

.contact .name {
  margin-right: 30px;
  -ms-flex-preferred-size: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
}

.contact .email {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.contact .name,
.contact .email {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--dandelion);
  padding: 20px;
}

.contact textarea.comment {
  border: 2px solid var(--dandelion);
  background-color: transparent;
  border-radius: 4px;
  padding: 20px;
  margin: 40px auto;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.contact input[type="submit"] {
  background-color: var(--dandelion);
  color: var(--twilightBlue);
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
  padding: 5px 10px;
  border: none;
}
