//Setup snippet
@import "setup";

//General styles
@import "generalStyles";

//Variables & Mixins
@import "variables";

//Header styles
@import "headerStyles";

//Footer styles
@import "footerStyles";

// Home page styles
@import "home";

// Blog page styles
@import "blog";

// Contact page styles
@import "contact";
